<link href="https://fonts.googleapis.com/css?family=Cabin" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">

<nav class="bg-danger">
  <h1 routerLink="/news" class="logo text-white p-4">Daily News</h1>
</nav>

<div class="bg-danger">
  <ul class="text-white navbar">
    <li class="navbar-item ml-3 mr-3 mt-3" routerLink="/subscribe">Subscribe</li>
    <li class="navbar-item ml-3 mr-3 mt-3" routerLink="/refer">Refer a Friend</li>
    <li class="navbar-item ml-3 mr-3 mt-3" routerLink="/cancel">Cancel Subscription</li>
  </ul>
</div>

<router-outlet class="mb-10"></router-outlet>


<!-- <div class="footer bg-danger">
  <p class="footer-text text-white">© 2019 Claire Lundquist</p>
</div> -->