.unsubscribe-card  {
    width: 66%;
    margin: 0 auto;
}

.accept {
    margin: 0 auto;
    text-align: center;
    display: block;
}

.accept-button {
    font-size: 20px;
    text-align: center;
}